# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
build/

# Testing
coverage/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
*.pem
*.log

# Prisma
prisma/*.db
prisma/*.db-journal

# Uploads (prod only)
uploads/

# Sentry
.sentryclirc
.env.production
.env
cookies.txt
ecosystem.config.js
